<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whitestone Cattery</title>
    <link rel="stylesheet" href="/assets/static/style.css">
    <link rel="icon" href="/assets/favicon/Cat icon.png" type="image/x-icon">

    <!-- ADD ALL LINKS GOOGLE FONTS, BOOTSTARAP ETC -->
</head>
<body>

    <!-- NAV -->
    <nav>
        <ul>
            <li><a href="/templates/base.html">Home</a></li>
            <li><a href="/templates/bookings.html">Bookings</a></li>
            <li><a href="/templates/gallery.html">Gallery</a></li>
            <li><a href="/templates/register.html">Register</a></li>
            <li><a href="/templates/about.html">About Us</a></li>
        </ul>
    </nav>

    {% block content %}
    <!-- Content Goes here -->
    {% endblock %}


    <!-- FOOTER -->
    <footer>
        <p>&copy; 2024 Whitestone Cattery. All rights reserved.</p>
    </footer>

    <!--BOOTSTARP JS LINKS  -->
</body>
</html>